#!/usr/bin/env bash

git_color() {
  local git_status="$(git status 2> /dev/null)"

  if [[ $git_status == *"Changes not staged for commit"* ]]; then
    echo -e $RED
  elif [[ $git_status == *"Changes to be committed"* ]]; then
    echo -e $YEL
  elif [[ $git_status == *"Your branch is ahead of"* ]]; then
    echo -e $WHI
  elif [[ $git_status == *"nothing to commit, working tree clean"* ]]; then
    echo -e $GRN
  else
    echo -e $PUR
  fi
}

git_branch() {
  local git_directory="$(git rev-parse --show-toplevel 2> /dev/null)"
  local git_status="$(git status 2> /dev/null)"
  local on_branch="On branch ([^${IFS}]*)"
  local on_commit="HEAD detached at ([^${IFS}]*)"

  if [[ $PWD == $git_directory ]]; then
    if [[ $git_status =~ $on_branch ]]; then
      local branch=${BASH_REMATCH[1]}
      echo "$branch"
    elif [[ $git_status =~ $on_commit ]]; then
      local commit=${BASH_REMATCH[1]}
      echo "$commit"
    fi
  fi
}

git_default_branch() {
  git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
}

git_b() {
  local current=$(git rev-parse --abbrev-ref HEAD)
  local branches=$(git for-each-ref --format='%(refname)' refs/heads/ | sed 's|refs/heads/||')
  local longest_branch_name_size=0

  for branch in $branches; do
    local branch_name_size=${#branch}

    if [ $branch_name_size -gt $longest_branch_name_size ]; then
      longest_branch_name_size=$branch_name_size
    fi
  done

  for branch in $branches; do
    local note=$(git config branch.$branch.note)
    local prefix="  "
    local branch_name_size=${#branch}
    local num_spacers=$(($longest_branch_name_size-$branch_name_size+2))
    local spacer=$(seq 1 $num_spacers | sed "s/.*/ /" | tr -d '\n')

    if [ $branch == $current ]; then
      prefix="* $GRN"
    fi

    echo "$prefix$branch$spacer$BLU$note$RES"
  done
}

git_cob() {
  git checkout -b $1 && git_note "${@:2}"
}

git_mm() {
  local branch=$(git_branch)
  git co $(git_default_branch) && git p && git co "$branch" && git m $(git_default_branch)
}

git_note() {
  if [ $# -eq 0 ]; then
    git config branch."$(git_branch)".note
  else
    git config --replace-all branch."$(git_branch)".note "$@"
  fi
}

export -f git_color
export -f git_branch
export -f git_default_branch
export -f git_b
export -f git_cob
export -f git_mm
export -f git_note
