tmux/logs/**/*

# Uncomment to safely configure `local`!

local/*

# Uncomment below lines to commit changes to default `local` files!

# local/*

# !local/index.zsh

# !local/bin/
# local/bin/*
# !local/bin/run

# !local/tmux/
# local/tmux/*
# !local/tmux/work.yaml
